# Node modules
node_modules/

# Logs
*.log
npm-debug.log*

# Environnement
.env

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/

# Build output
/dist
/build

# Docker
*.dockerfile
docker-compose.yml
